.header {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-container {
    position: relative;
    max-width: 162.7rem;
    height: 100%;
    //border: 1px solid cyan;
    margin: auto;
}

.header-img {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

.header-logo {
    position: absolute;
}

.header-content {
    position: absolute;
}

.header-title {
    line-height: 110%;
    color: #313131;
}

.header-text {
    margin: 2.4rem 0;
    color: #313131;

    font-size: 18px;
    line-height: 130%;
}

.header-btns {
    display: flex;
    justify-content: space-between;
}








