@media(max-width: 500px) {
    .header {
        height: 77.4rem;
        width: 100%;
        min-width: 37.5rem;
        background-image: url("../../../assets/header-background.png");
        background-repeat: repeat;
    }
    .header-img {
        background-image: url("../../../assets/375.png");
        background-position: top;
    }
    .header-logo-and-content{
        min-width: 37.5rem;
        width: 37.5rem;
        padding: 0 2rem;
        margin: auto;
    //border: 1px solid brown;
    }
    .header-logo {
        top: 1.8rem;
        width: 21.3rem;
        height: 3.2rem;
    }
    .header-content {
        top: 5rem;
    }
    .header-title {
        padding-top: 4rem;
        font-size: 3.6rem;
    }
    .header-text{
        text-align: left;
    }
}
