@media screen and (max-width: 768px) {
    .header-content{
        width: clamp(34.6rem,75%,54.2rem);
    }
    .header-title{
        font-size: calc(3.6rem + 1.5vw);
    }
    .header-btns {
        flex-direction: column;
        align-items: center;
        gap:1.4rem;
    }
}
@media screen and (max-width: 520px) {
    .header-title{
        padding-top: 4rem;
    }
}

