@media screen and (min-width: 1366px) {
    .header{
        height: 70rem;
        background-image: url("../../../../public/header-background.png");
    }
    .header-img {
        background-image: url("../../../../public/1920-2.png");
        background-position-x: center;
        background-repeat: no-repeat;
    }
    .header-logo-and-content{
        width: 122.2rem;
        margin:auto;
    }
    .header-logo {
        position: absolute;
        top: 2.6rem;
        width: 24.5rem;
        height: 3.6rem;
    }
    .header-content {
        position: absolute;
        top: 6.2rem;
        width: 54.2rem;
    }
    .header-title{
        padding-top: 6.2rem;
        font-size: 6rem;
    }
    .header-text {
        text-align: center;
    }
}