.main {
    width: 100%;
    background-color: #FFFFFF;
}

.main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    margin: auto;
}

@media (min-width: 1366px) {
    .main-container {
        width: 136.6rem;
        padding: 8rem 0 14.2rem 0;
    }
}

@media (max-width: 1365px) {
    .main-container {
        max-width: 136.6rem;
        min-width: 76.9rem;
        padding: 8rem 0;
    }
}

@media (max-width: 768px) {
    .main-container {
        min-width: 37.5rem;
        padding: 4.7rem 0;
    }
}
@media (max-width: 500px) {
    .main-container {
        width: 37.5rem;
        padding-bottom: 11rem;
    }
}