.card-content {
    display: flex;
    justify-content: space-between;
    padding: 0 7.2rem;
}

.card-text {
    font-style: normal;
    line-height: 135%;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.card-text-main {
    font-weight: 400;
    color: #313131;
}

.card-text-event {
    font-weight: 600;
    color: #F54932;
}
.card-img-wrp{
    border: 1px solid chocolate;
    display: flex;

}
.card-img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

@media (min-width: 1366px) {
    .card-content {
        padding: 0 7.2rem;
    }
    .card-text-wrp {
        width: 75.4rem;
        padding: 2.7rem 0;
    }
    .card-text {
        font-size: 3.6rem;
    }
    .card-img-wrp{
        width: 39.4rem;
        padding-left: 36px;
    }

}

@media (max-width: 1365px) {
    .card-content {
        padding: 0 7.2rem;
        border: 1px solid red;
    }
    .card-text-wrp {
        width: 75.4rem;
        padding: 2.7rem 0;
    }
    .card-text {
        font-size: clamp(2.8rem,3vw,3.6rem);
    }
    .card-img-wrp {
        max-width: 394px;
        min-width: 336px;
        padding-left: 36px;
        //height: 250px;
    }
}

@media (max-width: 768px) {
    .card-content {
        padding: 0 7.2rem;
        border: 1px solid red;
    }
    .card-column {
        display: flex;
        flex-direction: column;
        min-width: 336px;
    }
    .card-img-wrp {
        max-width: 394px;
        min-width: 336px;
        align-self: center;
        padding-left: 0;
        margin: 24px 0 24px 0;
    }
}

@media (max-width: 500px) {
    .card-content {
        padding: 0 25px 0 14px;
    }

    .card-column {
       max-width: 336px;
        width:  336px;;
    }

    .card-text {
        padding-left: 1px;
        font-size: 28px;
    }

    .card-img-wrp {
        width: 335px;
        height: 213px;
        margin: 24px 0 24px 0;
    }
}
