.footer {
    width: 100%;
    background-color: #E9DED4;
}
.footer-content{
    max-width: 136.6rem;
    margin: auto;
    padding: 4rem 7.2rem;
}
.footer-text{
    max-width: 122.2rem;
    font-size: 1.6rem;
    line-height: 120%;
    color: #313131;
    opacity: 0.6;
    white-space: wrap;
}

