.cardWithTable-content {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}

.cardWithTable-img-wrp {
    height: fit-content;
}

.cardWithTable-img-wrp > img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.cardWithTable-info {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardWithTable-title {
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #313131;
}
.cardWithTable-add-info{
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #3057A2;
}
