.cardWithTable-content {
    display: flex;
    justify-content: space-between;
}

.cardWithTable-img-wrp {
    height: fit-content;
}

.cardWithTable-img-wrp > img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.cardWithTable-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.cardWithTable-title {
    line-height: 135%;
    color: #313131;
}

.cardWithTable-add-info {
    line-height: 120%;
    color: #3057A2;
}
