.cardWithTable-table{
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-size: 2rem;
    line-height: 120%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #313131;
    width: 100%;
}

.table-row{
    display: flex;
    height: fit-content;
    border-bottom: 0.2rem solid #D0D0D0;
}
.table-row:last-child > .table-row-content{
    padding-bottom: 0;
}

.table-row:first-child > .table-row-content{
    padding-top: 0;
}
.table-row-content{
    //width: 30.5rem;
    height: fit-content;
}



.table-row-name{
    font-weight: 400;
    opacity: 0.7;
}
.table-row-text {
    flex: 1;
    font-weight: 600;
}

.table-row:first-child {
    padding-top: 0;
}
.table-row:last-child {
    border-bottom: none;
    padding-bottom: 0;
}