@font-face {
  font-family: "Merriweather";
  src: url('./fonts/Merriweather-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "Merriweather";
  src: url('./fonts/Merriweather-Regular.ttf');
}

@font-face {
  font-family: "Golos Text";
  src: url('./fonts/GolosText.ttf');
}
@font-face {
  font-family: "Montserrat";
  src: url('./fonts/Montserrat.ttf');
}
:root {
  width: 100%;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  font-size: 10px;

  overflow: auto;
  scrollbar-width: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.fontSerif{
  font-family: 'Merriweather','Times New Roman', serif;
}

.fontSansSerif{
  font-family: 'Golos Text', Arial, sans-serif;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

div{
  //box-sizing: border-box;
}
@media screen and (max-width: 1365px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 500px) {

}

.upperCase{
  text-transform: uppercase;
}
.text-line-through{
  text-decoration: line-through;
  text-decoration-color: #F54932;
}
.text-align-right{
  text-align: right;
}
.text-align-center{
  text-align: center;
}
.text-align-left{
  text-align: left;
}
.small-text{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
.card-text-main {
  font-weight: 400;
  color: #313131;
}

.card-text-event {
  font-weight: 600;
  color: #F54932;
}