@font-face {
    font-family: "Merriweather";
    src: url('./fonts/Merriweather-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Merriweather";
    src: url('./fonts/Merriweather-Regular.ttf');
}

@font-face {
    font-family: "Golos Text";
    src: url('./fonts/GolosText.ttf');
}

@font-face {
    font-family: "Montserrat";
    src: url('./fonts/Montserrat.ttf');
}

.fontSerif {
    font-family: 'Merriweather', 'Times New Roman', serif;
}

.fontSansSerif {
    font-family: 'Golos Text', Arial, sans-serif;
}

.upperCase {
    text-transform: uppercase;
}

.text-line-through {
    text-decoration: line-through;
    text-decoration-color: #F54932;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text {
    font-style: normal;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.font-w-regular {
    font-weight: 400;
}

.font-w-medium {
    font-weight: 500;
}

.font-w-semibold {
    font-weight: 600;
}


