.cardWithTile-container {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0 7.2rem;
    margin-top: 20rem;
}

.cardWithTile-title {
    max-width: 80.6rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5.4rem;
}

.cardWithTable-title-text {
    font-style: normal;
    font-weight: 400;
    font-size: 5.4rem;
    line-height: 120%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #313131;
}

.cardWithTable-title-add {
    align-self: center;
    max-width: 28rem;
    white-space: wrap;
    margin-left: 1.9rem;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 120%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #3057A2;
}

.cardWithTile-tile{
    display: grid;
    grid-auto-flow: dense;
//grid-column-gap: 2rem;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(39.4rem, 1fr));
    //grid-template-rows: repeat(auto-fit, minmax(12.2rem, 1fr));
    position: relative;

    //display: flex;
    //gap: 2rem;
    width: 122.2rem;

    //width: 100%;
    border: 1px solid blueviolet;
   //flex-wrap: wrap;
}

.tile{
    //width: 39.4rem;
    padding: 2rem;
    height: 11.2rem;
    background-image: url("../../../../../assets/tile-background.png");
    //margin: 0;
    box-sizing: border-box;

}
.tile:nth-child(3){
    height: 24.4rem;
    grid-row: span 2;
    background-image: url("../../../../../assets/tile-background-3.png");
}
.tile:nth-child(6){
    height: 13.6rem;
}

.tile:nth-child(7){
    height: 13.6rem;
    grid-column: span 2;
    background-image: url("../../../../../assets/tile-background-7.png");
}
.tile:nth-child(7) > .tile-content {

}
.cardWithTile-tile-img-wrp{
    position: absolute;
    //border: 1px solid blue;
    width: 40rem;
    bottom: 0;
    right: -6.2rem;
}
.cardWithTile-tile-img-wrp > img{
    width: 100%;
    object-fit: contain;
}