.tile-content{
    display: flex;
    gap: 1.6rem;
    font-size: 2rem;
}

.tile-number{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 3.6rem;
    min-width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    background-color: #FFFFFF;
}
.tile-number > span{
    font-weight: 600;

    line-height: 120%;

    color: #313131;
}

.tile-text{
    max-width: 44.6rem;
    font-weight: 500;

    line-height: 120%;
    color: #313131;

    white-space: wrap;
}