.cardWithSlideShow-container {
    display: flex;
    flex-direction: column;
}

.cardWithSlideShow-title {
    display: flex;
    justify-content: space-between;
    line-height: 120%;
    color: #313131;
}

.cardWithSlideShow-cards {
    display: flex;
    justify-content: space-between;
}

.cardWithSlideShow-carousel-pages {
    line-height: 120%;
    color: #313131;
}

.cardWithSlideShow-cards > .alice-carousel > .alice-carousel__slide-info {
    position: absolute;
    display: inline-block;
    padding: 0;
    color: #313131;
    border-radius: 0;
    background-color: transparent;//RGBA(255, 255, 255, 0);
}

.cardWithSlideShow-cards > .alice-carousel > .alice-carousel__prev-btn,
.cardWithSlideShow-cards > .alice-carousel > .alice-carousel__next-btn {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    width: fit-content;
}

.cardWithSlideShow-cards > .alice-carousel > .alice-carousel__prev-btn {
    text-align: right;
}

.cardWithSlideShow-cards > .alice-carousel > .alice-carousel__next-btn {
    text-align: left;
}

