.card-content {
    display: flex;
    justify-content: space-between;
    padding: 0 7.2rem;
}

.card-text {
    display: flex;
    font-style: normal;
    line-height: 135%;
}

.card-text-main {
    color: #313131;
}

.card-text-event {
    color: #F54932;
}

.card-img-wrp{
    display: flex;
}
.card-img {
    width: 100%;
    height: auto;
    object-fit: contain;
}